
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Font styles */
h1, h2, h3, h4, h5, h6 {
    text-align: left;
    margin-bottom: 5px;
}

h1 {
    font-size: 42px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}

.font-bold {
    font-weight: bold;
}

@media (min-width:600px) {
    h1, h2, h3, h4 {
        text-align: center;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 16px;
    }
}

/* Main content styles */
/*---------------------*/

/* Navigation */
#main-header {
    position: relative;
    background: #f4f1f0;
    color: #000;
    height: 105px;
    padding: 20px 30px;
}

.logos-header {
    display: inline;
}

.logos-header .image {
	height: 100%;
}

.logos-header:not(:first-child) {
    margin-left: 100px;
}

.page-title {
    position: absolute;
    text-align: center;
    width: calc(100vw - 350px);
    display: inline-block;
    height: auto;
    vertical-align: middle;
}

.page-title span {
    font-size: 28px;
    font-weight: 500;
    line-height: 20px;
    padding: 15px;
    margin: 0 auto;
}

.log-header {
    display: inline;
    float: right;
}

#flag {
    min-width: 10px;
}

.flag-ico {
    width: 32px;
}

.caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #000;
    left: 78%;
    top: 45%;
    position: absolute;
}

li {
    list-style: none;
}

/* Content */

main {
    margin-top: 20px;
}

.main-instructions {
    margin-left: 300px;
    margin-top: 50px;
}
.main-instructions:last-of-type {
    margin-bottom: 50px;
}

.main-instructions > .row {
    margin-top: 35px;
}

.main-instructions > .row img {
    float: right;
}

.btn-primary {
    font-size: 17px;
    background-color: #03473A;
    padding: 8px 18px;
    border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    opacity: .8;
    background-color: #03473A;
}
.btn-primary:not(:first-of-type) {
    margin-left: 10px;
}

button:disabled,
button[disabled] {
    opacity: .6;
    cursor: not-allowed;
}

.modal-dialog {
    margin-top: 100px;
}

.modal-content {
    padding: 20px 10px 10px;
}

.modal-footer {
    border: none;
}

.nav-link:before {
    content: "";
    display: inline-block;
    color: #fff;
    height: 28px;
    position: relative;
    left: -2px;
    vertical-align: middle;
    top: -1px;
}

.nav-link {
    padding-bottom: 6px;
}

.nav-link.uno-r3:before {
    background: url("../img/arduino_icon.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    width: 32px;
    top: 2px;
    margin-right: 12px;
}

.nav-link.sensor:before {
    background: url("../img/sensor_icon.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    width: 25px;
    top: -2px;
    margin-right: 8px;
}

.nav-link.lcd:before {
    background: url("../img/lcd_icon.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    width: 38px;
    margin-right: 7px;
}

.nav-link.fan:before {
    background: url("../img/fan_icon.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    width: 35px;
    margin-right: 7px;
    top: -2px;
    height: 28px;
    margin-left: -2px;
}

.buttons .btn-primary.iot:before {
    background: url("../img/iot_icon.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    width: 35px;
    margin-right: 7px;
    top: -2px;
    height: 28px;
    margin-left: -2px;
}

.session_blocked {
    position: absolute;
    background-color: #616161ba;
    margin-top: 50px;
    width: 560px;
    height: 100%;
    max-height: 485px;
    padding: 0 100px;
}
.session_blocked p {
    color: white;
    text-align: center;
    margin-top: calc(50% - 22px);
}