{% extends "base.html" %}

{% block content %}
    <section>
        <div class="main-container">
            <div class="row">      
                <div class="editor" id="editor">
                    <div class="editor-nav">
                        <div class="row">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    {% for navtab in navtabs %}
                                        {{ navtab | safe }}
                                    {% endfor %}
                                </div>
                            </nav>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            {% for editor in editors %}
                                {{ editor | safe }}
                            {% endfor %}   
                        </div>
                    </div>
                </div>
                <div class="camera" id="camera">
                    <div class="card-body">
                        <h3 style="margin-top: 10px;"><u>Webcam</u></h3>
                        <video
                        id="cam"
                        autoplay
                        muted
                        playsinline
                        style="margin-top: 20px;"
                        width="570">
                        </video>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="timer">
            <p class="text-right">Remaining time</p>
            <h5 id="timer-count" class="timer-count font-bold text-right"></h5>
        </div>
        {% for board in boards %}
            {% if loop.index0 == 0 %}
            <script>
                document.getElementById("nav-{{ board }}-tab").classList.add("active");
            </script>
            {% else%}
            <script>
                document.getElementById("nav-{{ board }}").classList.remove("active","show");
            </script>
            {% endif %}
        {% endfor %}
        <script>
            let end_time = new Date("{{ end_time }}").getTime();
            countdownTimer(end_time); 
        </script>
        <script>
            const cam = document.getElementById('cam');
            if (cam && Hls.isSupported()) {
                // 1) No-cache
                const src = "{{ cam_url }}?t=" + Date.now();
                // 2) startPosition = -1 start on live-edge
                const hls = new Hls({ startPosition: -1 });
                hls.loadSource(src);
                hls.attachMedia(cam);
                hls.on(Hls.Events.MANIFEST_PARSED, () => cam.play());
            }
        </script>
    </section>
{% endblock %} 
